.post-list {
  h1 {
    color: #fd7304;
  }
  .post-card {
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.1);
    padding: 20px;
  }

  .post-card:hover {
    transform: translateY(-1px);
  }

  .orange-btn {
    width: 100%;
    background: #fd7304;
    color: white;
    border: none;
  }

  .comments-list {
    margin: 15px 0;
  }

  .comments-list li {
    list-style: none;
    padding: 8px 0;
  }

  .comment-title {
    color: #54cc06;
  }
}
